<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ExcelFilePath" value="E:\Fiver\open-co-crawler\open-co-crawler\OpenCoCrawler\Copy of NORFOLK VA, REAL PROPERTY TRANSFER.xlsx"></add>
    <add key="SalesRecordSheetName" value="NORFOLK VA, REAL PROPERTY TRANS"></add>
    <add key="CompaniesRecordSheetName" value="FINAL DOC"></add>
    <add key="OutputFilePath" value="E:\Fiver\open-co-crawler\open-co-crawler\"></add>
    <add key="CompanyTypes" value="LLC,INC,HOLDING,CORP,COORPORATION"/>
  </appSettings>


</configuration>